xlsxwriter==3.0.8
wcwidth==0.2.5
ipywidgets==8.0.4
lxml==4.9.1
isodate==0.6.1
backcall==0.2.0
requests==2.28.2
colorama==0.4.6
executing==1.2.0
parso==0.8.3
numpyencoder==0.3.0
pandas==1.5.3
cffi==1.15.1
IPython==8.7.0
scipy==1.10.1
numpy==1.24.2
urllib3==1.26.14
asttokens==2.2.1
rdflib==6.2.0
SPARQLWrapper==2.0.0
debugpy==1.6.4
ipykernel==6.19.4
matplotlib==3.7.0
defusedxml==0.7.1
libcellml==0.4.0
python-libsbml==5.20.0
adjustText==0.8
networkx==3.1
voila==0.4.0

