packaging==22.0
ipykernel==6.19.4
tornado==6.2
psutil==5.9.4
traitlets==5.8.0
decorator==5.1.1
platformdirs==2.6.0
asttokens==2.2.1
six==1.16.0
debugpy==1.6.4
executing==1.2.0
jedi==0.18.2
parso==0.8.3
pickleshare==0.7.5
colorama==0.4.6
entrypoints==0.4
wcwidth==0.2.5
backcall==0.2.0
comm==0.1.2
tzdata==2023.3
certifi==2022.12.7
pytz==2022.7.1
setuptools==65.6.3
cryptography==39.0.1
flatbuffers==23.3.3
pip==22.3.1
attrs==22.1.0
rich==13.3.1
pyarrow==12.0.0
websockets==10.4
tenacity==8.2.2
click==8.1.3
ipywidgets==8.0.4
nbconvert==6.5.4
notebook==6.5.2
rdflib==6.2.0
multidict==6.0.4
nbformat==5.7.0
qtconsole==5.4.1
cachetools==5.3.0
tzlocal==5.0.1
smmap==5.0.0
tqdm==4.64.1
jsonschema==4.17.3
lxml==4.9.1
rsa==4.9
pelican==4.8.0
altair==4.2.2
bleach==4.1.0
gitdb==4.0.10
readchar==4.0.5
widgetsnbextension==4.0.5
zipp==3.14.0
matplotlib==3.7.0
jupyterlab==3.5.3
anyio==3.5.0
markdown==3.4.1
idna==3.4
oauthlib==3.2.2
inquirer==3.1.3
jinja2==3.1.2
pyparsing==3.0.9
xlsxwriter==3.0.8
networkx==3.0
watchdog==3.0.0
requests==2.28.2
pycparser==2.21
fastjsonschema==2.16.2
pygments==2.14.0
babel==2.11.0
soupsieve==2.3.2.post1
qtpy==2.3.0
werkzeug==2.2.3
termcolor==2.2.0
markupsafe==2.1.1
tomli==2.0.1
feedgenerator==2.0.0
ansicon==1.89.0
urllib3==1.26.14
numpy==1.23.5
streamlit==1.22.0
blessed==1.20.0
cffi==1.15.1
wrapt==1.14.1
sympy==1.11.1
scipy==1.10.1
pkginfo==1.9.6
ipyvue==1.9.0
ipyvuetify==1.8.4
send2trash==1.8.0
pandas==1.5.3
blinker==1.5
pandocfilters==1.5.0
kiwisolver==1.4.4
unidecode==1.3.6
frozenlist==1.3.3
deprecated==1.2.13
mpmath==1.2.1
tinycss2==1.2.1
jinxed==1.2.0
sniffio==1.2.0
contourpy==1.0.7
pympler==1.0.1
jupyter==1.0.0
wheel==0.38.4
validators==0.20.0
pint==0.19.2
docutils==0.19
pyrsistent==0.18.0
terminado==0.17.1
toolz==0.12.0
cycler==0.11.0
toml==0.10.2
json5==0.9.11
mistune==0.8.4
pydeck==0.8.1b0
defusedxml==0.7.1
isodate==0.6.1
nbclient==0.5.13
webencodings==0.5.1
nbclassic==0.4.8
pyasn1==0.4.8
libcellml==0.4.0
voila==0.4.0
cellmlmanip==0.3.6
numpyencoder==0.3.0
mathml2latex==0.2.12
wincertstore==0.2
mdurl==0.1.2